/*basic styles starts*/
html {
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
}

body {
	color: rgba(0, 0, 0, 0.6);
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	width: 100%;
	margin: 0 auto 30px auto;
	background-color: #fff;

}
p {
	line-height: 1.9em;
	font-weight: 400;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	opacity: 1;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	-ms-transition: all .15s linear;
	transition: all .15s linear;
	color: #424242;

}

a:hover, a:active {
	color: #555;

}

/*basic styles ends*/



/*animation starts*/

.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.animated.hinge {
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

/*animation ends*/




.content {
	max-width: 700px;
	padding: 0px 20px;
	height: auto;
	margin: 0 auto;
}

.list_with_title .container{
	width: 720px;
	margin: 0 auto;
}
.header {
	width: 720px;
	padding: 100px 0;
	margin: 0 auto;
	-webkit-background-size: cover;
	background-size: cover;

	.logo-title{
		text-align: center;
		padding: 0 20px;


		.description {
			padding: 20px 5px 0px 5px;
			font-size: 14px;
			color: #565654;
		}


		.logo {
			margin: 0 auto;
		}

		.title{
			h1 {
				text-transform: uppercase;
				font-size: 4rem;
				font-weight: bold;
				letter-spacing: 5px;
				line-height: 1;
				margin:0;
			}

			a {
				text-decoration: none;
				color: #000;
				font-size: 4rem;
				font-weight: bold;
			}
		}

	}

	.social-links {
		list-style: none;
		padding: 0;
		font-size: 14px;
		text-align: center;

		i{
			margin-right: 3px;
		}

		li {
			display: inline;
			padding: 0 4px;
			line-height: 0;
		}

		a {
			color: #565654;
		}
	}
}



.post-page {
	padding-top: 100px;
}


.post {
	background-color: #FFF;
	margin-top: 30px;

	.post-title{
		h1 {
			text-transform: uppercase;
			font-size: 20px;
			letter-spacing: 5px;
			line-height: 1;
		}

		h2 {
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 2.5rem;
			line-height: 1;
			font-weight: 600;
			color: #5f5f5f;
			padding-bottom: 10px;

		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 1px;
			line-height: 1;
			font-weight: 600;
			color: #5f5f5f;
			padding-bottom: 10px;

		}

		a {
			text-decoration: none;
			letter-spacing: 1px;
			color: #5f5f5f;

		}
	}

	.post-content{
		 a {
			text-decoration: none;
			letter-spacing: 1px;
			color: #3CBD10;
		}
	}

	.post-footer {
		padding: 0 0 60px 0;
		border-bottom: 1px solid #f2f2f2;


		.meta {
			max-width: 100%;
			height: 25px;
			color: #bbbbbb;

			.info {
				float: left;
				font-size: 12px;
				.date{
					margin-right: 5px;
				}
			}

			a {
				text-decoration: none;
				color: #bbbbbb;
			}
			i{
				margin-right: 3px;
			}
		}



		.tags{
			padding-bottom: 15px;
			font-size: 13px;

			ul {
				list-style-type: none;
				display: inline;
				margin: 0;
				padding: 0;

				li {
					list-style-type: none;
					margin: 0;
					padding-right: 5px;
					display: inline;
				}
			}

			a{
				text-decoration: none;
				color: rgba(0, 0, 0, 0.44);
				font-weight: 400;

				&:hover{
					text-decoration: none;
				}
			}
		}
	}


}




.pagination {
	padding: 15px 0 40px 0;
	border-bottom: 1px solid #f2f2f2;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		height: 13px;

		li {
			margin: 0 2px 0 2px;
			display: inline;
			line-height: 1;

			 a {
				text-decoration: none;
			}
		}
	}

	.pre {
		float: left;
	}

	.next {
		float: right;
	}
}








.like-reblog-buttons {
	float: right;
}

.like-button {
	float: right;
	padding: 0 0 0 10px;
}

.reblog-button {
	float: right;
	padding: 0;
}

#install-btn {
	position: fixed;
	bottom: 0px;
	right: 6px
}

#disqus_thread {
	padding: 30px 0;
	border-bottom: 1px solid #f2f2f2;
}

.footer {
	clear: both;
	max-width: 700px;
	text-align: center;
	font-size: 10px;
	padding-top: 60px;
	margin: 0 auto;

	a {
		color: #A6A6A6;
		margin-left: 3px;
	}
	span{
		margin-right: 3px;
	}
	.by_farbox{
		margin-top: 30px;
	}
}




/*for archive*/
.list-with-title{
	font-size: 14px;
    margin: 0;
	padding: 0;

	li {
        list-style-type: none;
        padding: 0;
    }

	.listing-title {
		font-size: 24px;
		color: #666666;
		font-weight: bold;
		padding-top: 10px;
		line-height: 2.2em;
	}
	.listing{
		margin: 0 0 50px 0;
        padding: 0;


		.listing-post {
			padding-bottom: 5px;

			.post-time {
				float: right;
				color: #C5C5C5;
			}

			 a {
				color: #8F8F8F;

				 &:hover{
					 color: #3CBD10;
				 }
			}

		}
	}
}


/* 评论样式 */

.comment-count {
	color: #666;
}

.tab-community {
	color: #666;
}

.read_more {
	font-size: 14px;
}

.back-button {
	padding-top: 30px;
	max-width: 100px;
	padding-left: 40px;
	float: left;
}

/* 按钮样式 */
a.btn {
	color: #868686;
	font-weight: 400;

}

.btn {
	display: inline-block;
	position: relative;
	outline: 0;
	color: rgba(0, 0, 0, 0.44);
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0.15);
	white-space: nowrap;
	font-weight: 400;
	font-style: normal;
	border-radius: 999em;
}

.btn:hover {
	display: inline-block;
	position: relative;
	outline: 0px;
	color: #3CBD10;
	background: rgba(0, 0, 0, 0);
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #3CBD10;
	white-space: nowrap;
	font-weight: 400;
	font-style: normal;
	border-radius: 999em;
}

[role="back"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="home"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="navigation"] {
	padding: 0.5em 1.25em;
	line-height: 1.666em;
}

[role="tags"] {
	padding: 6px 12px;
}

/* Menu样式 */
.menu {
	float: right;
	padding-top: 30px;

	.btn-down{
		margin: 0px;
		li {
			list-style: none;
			width: 100px;

			 a {
				display: inline-block;
				position: relative;
				padding: 0.5em 1.25em;
				outline: 0;
				color: rgba(0, 0, 0, 0.44);
				background: rgba(0, 0, 0, 0);
				font-size: 14px;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				border: 1px solid rgba(0, 0, 0, 0.15);
				white-space: nowrap;
				font-weight: 400;
				font-style: normal;
				border-radius: 999em;
				margin-top: 5px;

				 &:hover{
					 position: relative;
					padding: 0.5em 1.25em;
					outline: 0;
					color: #fff;
					background: #3CBD10;
					font-size: 14px;
					text-align: center;
					text-decoration: none;
					cursor: pointer;
					border: 1px solid rgba(0, 0, 0, 0.15);
					white-space: nowrap;
					font-weight: 400;
					font-style: normal;
					border-radius: 999em;
					margin-top: 5px;
				 }
			}

		}
	}

	.btn-down div {
		position: absolute;
		visibility: hidden;
		width: 100px;
		float: right;

	}

}


@media screen and (max-width: 900px) {
	.header {
	}

	.content{
		margin-top: 100px;
	}

	.menu{
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 15px;

		.btn-down li a{
			background: #fff;
		}
	}

	.post {
		margin-top: 40px;
	}

	.post-footer {
		padding-bottom: 30px;
	}

}


